header {
    background-color: white;
    background-image: none;
    
}
.button {
    text-align: right;
}

.submit-button {
    text-align: center;
}

.sign-up-form {
    background-color: white;
    border-style: solid;
    width: 20%;
    text-align: center;
    margin: auto;
}

body {
    text-align: center;
    background-color: lightblue;
}

form {
    display: inline-block;
}   

.icons {
    text-align: center;
    display: block;
}